.container{
    display: flex;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #003f82;
    color: white;
}

.banner {
    background-image: url("elsalvador1.png");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.navbar {
    background: #004c99;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: white;
    color: #004c99;
}

.container {
    border: 2px solid white;
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
    display: flex;
    gap: 25px;
    align-items: center;
    background: #005bb5;
}

.image {
    width: 300px;
    border-radius: 10px;
}

.container img{
    filter: grayscale(100%);
}

.container img:hover{
    filter: none;
}


.footer {
    background: #003f82;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

*{
  transition:1s;
}
