.container{
    display: flex;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #004d99ce;
}
.banner {
    background-image: url(elsalvador1.png);
    color: white;
    padding: 200px;
}

.navbar {
    background: #004c99;
    padding: 15px;
    text-align: center;
}
.navbar a {
    color: white;
    margin: 15px;
    font-weight: bold;
    text-decoration: none;
}

.container{
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
}

.image{
    width: 300px;
    border-radius: 10px;
}

.footer {
    background: #004c99;
    padding: 5px;
    text-align: center;
    color: white;
    margin: 15px;
    font-weight: bold;
}